<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Derian Jimenez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MiApp</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Desarrollo de apps moviles</ion-card-title>
    <ion-card-subtitle>apps moviles asignatura</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    contenido de la materia.
  </ion-card-content>
</ion-card>
<ion-button color="danger" (click)="saludar()">Te saludo, bro.</ion-button>
</ion-content>